<h1>Mi Blog</h1>
 
<% if @posts.empty? %>
	<p>No existen posts</p>
<% else %>
	<% @posts.each do |post| %>
		<h2>
			<%= post.nombre %>
		</h2> 
		<p>
			<%= post.contenido %>
		</p>
	<% end %>
<% end %>