{% extends "base.html" %}

<!-- ########################## principal_content ######################### -->
{% block principal_content %}

<h1>{{post.nombre}}</h1>
<h4>Autor: {{post.autor}}</h4>
<p>
    <span class="glyphicon glyphicon-time"></span> Posteado el {{post.pub_fecha}}
</p>

{{post.contenido|linebreaks}}

<a href="editar/{{post.id}}">Editar</a>

<form method="post" id="form_crear_post" action="/posts/eliminar">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{post.id}}">
        <button type="submit" onclick="return confirm('Seguro?')" class="btn btn-primary">Eliminar</button>
    </form>

<hr>

{% endblock principal_content %}