#fondo {
	background-color: #ccc;
	width: 250px;
	margin: auto;
	padding: 5px 10px 15px 20px;
}

#boton {
	background-color: cyan;
	width: 100px;
	text-align: center;
	cursor: pointer;
	margin: 0px auto;
	margin-top: 10px;
}

#boton:hover {
	background-color: blue;
	color: white;
	width: 200px;
}